# precompiled python
*.pyc

# compiled object file
*.o

# no binaries
*.exe

# roms
*.gbc
*.gb

# rgbds extras
*.sym
*.map

# swap files for vim
.*.swp

# for any of the poor souls with save game files in their working directory
*.sgm
*.sav
*.sys

# for vim configuration
# url: http://www.vim.org/scripts/script.php?script_id=441
.lvimrc

# converted image data
*.1bpp
*.2bpp

# converted audio data
*.pcm
